.c-time[data-v-2964abc9] {
  width: 100%;
  min-width: 640px;
  position: relative;
  display: inline-block;
  overflow-x: auto; }

.c-schedue[data-v-2964abc9] {
  background: #99bbec;
  position: absolute;
  width: auto;
  height: 0;
  opacity: "0.6";
  pointer-events: none;
  z-index: 99; }

.c-schedue-notransi[data-v-2964abc9] {
  transition: width 0.12s ease, height 0.12s ease, top 0.12s ease, left 0.12s ease; }

.c-time-table[data-v-2964abc9] {
  border-collapse: collapse !important;
  position: relative;
  width: 100%; }
  .c-time-table[data-v-2964abc9] th[data-v-2964abc9] {
    vertical-align: inherit;
    font-weight: bold; }
  .c-time-table[data-v-2964abc9] tr[data-v-2964abc9] {
    height: 30px; }
  .c-time-table[data-v-2964abc9] tr[data-v-2964abc9],
  .c-time-table[data-v-2964abc9] td[data-v-2964abc9],
  .c-time-table[data-v-2964abc9] th[data-v-2964abc9] {
    user-select: none;
    border: 1px solid #dee4f5;
    text-align: center;
    min-width: 12px;
    line-height: 1.8em;
    transition: background 0.2s ease; }
  .c-time-table[data-v-2964abc9] .c-time-head[data-v-2964abc9] {
    font-size: 12px; }
    .c-time-table[data-v-2964abc9] .c-time-head[data-v-2964abc9] .time-td[data-v-2964abc9] {
      width: 70px; }
  .c-time-table[data-v-2964abc9] .c-time-body[data-v-2964abc9] {
    font-size: 12px; }
    .c-time-table[data-v-2964abc9] .c-time-body[data-v-2964abc9] td[data-v-2964abc9].time-atom-item[data-v-2964abc9] {
      user-select: unset;
      background-color: #f5f5f5 !important; }
    .c-time-table[data-v-2964abc9] .c-time-body[data-v-2964abc9] td[data-v-2964abc9].ui-selected[data-v-2964abc9] {
      background-color: #598fe6 !important; }
  .c-time-table[data-v-2964abc9] .c-time-preview[data-v-2964abc9] {
    line-height: 2.4em;
    padding: 0 10px;
    font-size: 14px; }
    .c-time-table[data-v-2964abc9] .c-time-preview[data-v-2964abc9] .c-time-con[data-v-2964abc9] {
      line-height: 46px;
      user-select: none; }
    .c-time-table[data-v-2964abc9] .c-time-preview[data-v-2964abc9] .c-time-time[data-v-2964abc9] {
      text-align: left;
      line-height: 2.4em; }
      .c-time-table[data-v-2964abc9] .c-time-preview[data-v-2964abc9] .c-time-time[data-v-2964abc9] p[data-v-2964abc9] {
        max-width: 625px;
        line-height: 1.4em;
        word-break: break-all;
        margin-bottom: 8px; }
  .c-time-table[data-v-2964abc9] .c-time-note[data-v-2964abc9] div[data-v-2964abc9] {
    text-align: left;
    padding: 0 10px; }

.c-min-table[data-v-2964abc9] tr[data-v-2964abc9],
.c-min-table[data-v-2964abc9] td[data-v-2964abc9],
.c-min-table[data-v-2964abc9] th[data-v-2964abc9] {
  min-width: 24px; }

.g-clearfix[data-v-2964abc9][data-v-2964abc9]:after, .g-clearfix[data-v-2964abc9][data-v-2964abc9]:before {
  clear: both;
  content: " ";
  display: table; }

.g-pull-left[data-v-2964abc9] {
  float: left; }

.g-pull-right[data-v-2964abc9] {
  float: right;
  cursor: pointer; }

.g-tip-text[data-v-2964abc9] {
  color: #999; }

.c-disabled[data-v-2964abc9] {
  width: 100%;
  background: #eee;
  height: 77px;
  position: absolute;
  top: 60px;
  left: 0;
  opacity: 0.5;
  cursor: not-allowed; }

.button-wrapper[data-v-2964abc9] {
  margin-bottom: 10px;
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */ }

.el-button[data-v-2964abc9] {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 5px;
  transition: 0.1s;
  font-weight: 500;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px; }

.el-button[data-v-2964abc9]:hover {
  color: #409eff;
  border-color: #409eff; }
